<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<mappers>
		<mapper resource="com\yklis\dao\WorkerDao.xml" />
		<mapper resource="com\yklis\dao\AppVisitDao.xml" />
		<mapper resource="com\yklis\dao\ExtSqlDao.xml" />
	</mappers>
</configuration>